.logo {
  margin: 0;

  font-family: "Comic Sans MS", var(--font-comic-neue);
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.5px;

  color: #C9B6FF;

  text-shadow:
    0 0 20px rgba(169, 139, 255, 0.35);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 360px;

  padding: 0 30px 30px;
}

.loginButton {
  padding: 11px 13px;

  border: none;
  border-radius: 8px;

  background: #8B63D9;
  color: #FFFFFF;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition:
    background 0.15s ease,
    transform 0.1s ease,
    box-shadow 0.15s ease;
}

.loginButton:hover {
  background: #49356e;
}

.loginButton:active {
  background: #7650BF;
  transform: translateY(1px);
}

.linkText {
  color: #8B63D9;
  text-decoration: underline;
  font-size: small;
}

.linkText:hover {
  color: #49356e
}