.loginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 360px;

  padding: 0 30px 30px;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;

  cursor: pointer;
}

.rememberMe input {
  width: 16px;
  height: 16px;

  accent-color: #8B63D9;
  cursor: pointer;
}

.loginButton {
  padding: 11px 13px;

  border: none;
  border-radius: 8px;

  background: #8B63D9;
  color: #FFFFFF;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition:
    background 0.15s ease,
    transform 0.1s ease,
    box-shadow 0.15s ease;
}

.loginButton:hover {
  background: #49356e;
}

.loginButton:active {
  background: #7650BF;
  transform: translateY(1px);
}

.linkText {
  color: #8B63D9;
  text-decoration: underline;
  font-size: small;
}

.linkText:hover {
  color: #49356e
}